on:
  workflow_dispatch:
    inputs:
      messageIds:
        description: "Which message ids should it be?"
        required: false
        default: "b077588c-488f-458c-bf5a-33585850c3ae,dcd83c57-aa47-45a2-b41d-0bd8d3f95724"
name: Render video
jobs:
  render:
    name: Render video
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@main
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: npm i
      - run: npm run build
      - name: Upload video
        uses: actions/upload-artifact@v3
        with:
          name: out.mp4
          path: out.mp4
